@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    direction: rtl;
    font-family: ar-font, sans-serif;
}
header video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}

header .overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

header .brand {
    padding-top: 40px;
}

header .header-text {
    padding-top: 190px;
}

header.header-text h1 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 46px;
    color: #5d5d5d;
    margin-bottom: 50px;
}

header .header-button a.btn {
    padding: 22px 55px;
    background-color: #522877;
    color: aliceblue;
    margin-left: 15px;
}
header .header-button a.btn:last-child{
    background: transparent;
    color: #522877;
}
header .product .product-img {
    position: relative;
    text-align: center;
    top: -200px;
    right: 350px;
}

section.features{
    padding: 70px 0;
    background-color: aliceblue;
}
section.features .features-title h2{
    font-size: 36px;
    color: #555;
    line-height: 32px;
    padding-bottom: 45px;
}
section.features .features-title h2::after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: #522877;
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-65%);
}

section.features .media-feature .d-flex{
    padding: 70px 0;
    border-bottom: 3px solid #eeeeee ;
}
section.features .media-feature .d-flex:nth-child(2){
    direction: ltr;
}

section.features .media-feature .d-flex img {
    margin: 0 80px;
}

section.features .media-feature .d-flex h4 {
    font-size: 36px;
    font-weight: bold;
    color: #522877;
    padding: 0 25px;
    margin-bottom: 50px;
    border-right: 2px solid #522877;
}

section.features .media-feature .d-flex:nth-child(even) h4 {
    border-right: 0;
    border-left: 2px  solid #522877;
}
section.features .media-feature .d-flex p {
    font-size: 18px;
    line-height: 32px;
    color: #555;
}

section.prices {
    padding: 50px 0 60px;
    background-color: #f7f7f7;
}

section.prices .prices-text h2 {
    font-size: 50px;
    color: #332d2d;
   
    
}

section.prices .plan-card {
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
    padding: 15px 0;
    margin-top: 100px;
    color: #5d5d5d;
}
section.prices .plan-card span.title {
    font-size: 19px;
    color: #522877;
}
section.prices .plan-card h5 {
    font-size: 38px;
    margin: 30px auto;
}

section.prices .plan-card h5 span {
    font-size: 15px;
    vertical-align: bottom;
}

section.prices .plan-card ul{
    padding: 0;
}

section.prices .plan-card ul li {
    font-size: 15px;
    margin-bottom: 30px;
    list-style: none;
}

section.prices .plan-card a.btn {
    border: 1px solid #522877;
    background-color: #eeeeee;
    color: #522877;
    padding: 10px 40px;
    border-radius: 0;
    transition: 0.5s all ease;
}

section.prices .plan-card a.btn:hover {
    background-color: #522877;
    color: #eeeeee;
}

section.prices .col-md-6:nth-child(3) .plan-card {
    padding-top: 60px;
    margin-top: 55px;
}

section.prices .col-md-6:nth-child(3) .plan-card a.btn {
    background-color: #522877;
    color: #eeeeee;
}


section.video {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

section.video video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section.video .overlay {
    
    min-height: 100%;
    position: absolute;
    inset: 0;
}

section.video .overlay button {
    position: absolute;
    bottom: 50%;
    right: 50%;
    font-size: 35px;
    color: #eeeeee;
    background-color: transparent;
    border: 0;
    transform: translate(50% , 50%);
}

section.video .overlay button i {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    margin: 0 auto 45px;
}

section.contact {
    padding: 60px 0 40px;
    background-color: #29232b;
}

section.contact h4 {
    font-size: 18px;
    color: #9b8a8a;
     line-height: 50px;
}

section.contact form input,
section.contact form textarea {
    display: block;
    margin-bottom: 10px;
    background-color: #6e6b6b36;
    font-size: 20px;
    line-height: 35px;
    color: #eeeeeee0;
    border: none;
    text-align: right;
    width: 90%;

}

section.contact form button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #522877;
    color: #f7f7f7;
    border: none;
    border-radius: 3px;
}

section.contact form button i {
    margin-right: 15px;
}

section.contact form .invalid-feedback {
    margin-top: -15px;
}

section.contact .blog a.blog-link {
    text-decoration: none;
}
section.contact .blog .d-flex{
    margin-bottom: 25px;
}

section.contact .blog h5 {
    font-size: 18px;
    color: #9b8a8a;
    margin-bottom: 30px;
    margin-top: 20px;
}
section.contact .blog p {
    font-size: 15px;
    line-height: 20px;
    color: #737373;
}